ul, ol {
	//margin: 0 0 1.5em 3em;
	padding-inline-start: 0px;
}

ul {
	list-style: none;
}

ol {
	list-style: none;
	counter-reset: my-awesome-counter;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

/* replace black dot with solid yellow circle */
ul li:before {
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: $yellow;
}

ol li {
	counter-increment: my-awesome-counter;
}


ol li:before {
	content: counter(my-awesome-counter);
	color: navy;
	font-weight: bold;
	font-family: $rubik;
	font-size: 24px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
