.jumbotron {
	background-color: $grey7;
	
	@media print {
		padding: 0;	
	}
	@include screen-xs {
		padding: 20px 20px 40px;
	}
	
	h2, p {
		color: $white;
		
		@media print {
			color: black;
		}
	}
	p {
		font-family: $noto-sans;
		font-size: 20px;
		line-height: 35px;
		
		@include screen-xs {
			font-size: 18px;
		}
		@media print {
			color: black;	
		}
	}
	.btn {
		@media print {
			display: none;	
		}
	}
	.btn-secondary {
		margin-left: 25px;
		
		@include screen-ltmd {
			margin-left: 0;
			margin-top: 10px;
		}
	}
}