.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* front-page */
.recent-posts {
	padding: 40px 0px 60px;
}

.post-list-wrapper {
	padding-top: 20px;
}