.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.site-header {
	border-bottom: 1px solid $blue;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
}



.entry-content,
.entry-header,
.page-header,
#rel-pubs,
#responses,
#comments-wrapper {
	margin-top: 40px;
}

#main {
	margin-bottom: 80px;
}

.entry-citation {
	margin: 0px;
	p {
		font-family: $noto-sans;
		-webkit-font-smoothing: antialiased;
		font-size: 21px;
		font-weight: 700;
		color: $grey3;
		text-decoration: none;
	}
}

.entry-links {
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.response-entry-links {
	margin-top: 20px;
}

.responses-anchor {
	p {
		margin: 0px;
		line-height: 1.1;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* front-page */
.recent-posts {
	padding: 40px 0px 60px;
}

.post-list-wrapper {
	padding-top: 20px;
}

.tag-wrapper {
	margin: 20px 0px;
	li {
		display: inline-block;
		margin-left: 20px;
		&:first-child {
			margin-left: 0px;
		}
	}
}

.responses-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	a {
		display: block;
		margin-left: 20px;
		p {
			margin: 0px;
			line-height: 1;
		}
	}
}

.page-header-wrapper {
	display: flex;
    align-items: center;
    ul {
	    display: flex;
		margin: 0px 0px 0px 20px;
    }
    div {
	    display: flex;
		margin: 0px 0px 0px 20px;
		a {
			margin-left: 20px;
			p {
				margin: 0;
				line-height: 1;
			}
		}
    }
}

.card {
	background-color: transparent;
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
    ul {
	    display: flex;
	    li {
		    margin-left: 20px;
	    }
    }
}