/* theme colors */
$yellow: #F3B720;
$blue: #03335F;
$red: #CB4534;
$green: #65AF57;

/* theme neutrals: blacks, whites, greys 
* they are listed here in the order they are listed in the style guide	
*/
$white: #FFFFFF;
$white2: #FCFCFC;
$white3: #FAFAFA;
$grey: #4D4D4D;
$grey2: #E5E5E5;
$grey3: #5D5D5D;
$grey4: #707070;
$grey5: #868686;
$grey6: #7F7F7F;
$grey7: #8C8C8C;
$grey8: #B4B4B4;
$grey9: #3E3E3E; //black?
$grey10: #95989A; 



/* underscores colors */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
