@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:400,400i,700&subset=greek,greek-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

/* theme typography */
$noto-sans: 'Noto Sans', sans-serif;
$noto-serif: 'Noto Serif', serif;
$rubik: 'Rubik', sans-serif;


/* underscores typography */
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
