.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.navbar {
	display: block;
	padding-bottom: 0px;
    background: $white;
    
    @include screen-ltmd {
		height: 80px;   
	}
}

.brand-wrapper,
.nav-wrapper {
	@include screen-gtsm {
		padding: 0px;
	}
}

.nav-wrapper {
	display: flex;
}

.brand-wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $blue;
	
	@include screen-ltmd {
		border: none;
		
		form {
			display: none;
		}
	}
}

.site-title {
	color: $grey4;
	font-family: $noto-serif;
	font-size: 32px;
	line-height: 43px;
    font-weight: 400;
}

/*
#menu-menu-1.navbar-nav li{
	&:first-child {
		margin-right: 20px;
	}
}
*/

.navbar-nav {
	height: 47px;
    font-size: 20px;
    line-height: 32px;
    li>a {
	    position: relative;
		top: 11px;
		padding: 0 !important; //needed to over-ride very specific - 3 classes - bootstrap styling
		margin-right: 40px;
		line-height: 22px;
	    &:hover {
			color: $blue;
	    }
    }
}

.nav-item {
	a {
		color: $grey5;
		&:after {
			content: "";
		    border-bottom: 1px solid $blue;
		    position: absolute;
		    margin-right: 0px;
		    left: 50%;
		    height: 2px;
		    background: transparent;
		    width: 0%;
		    bottom: 0px;
		    transition: width 0.5s ease, left 0.5s ease;
		}
		&:hover {
			color: $blue;
			opacity: 1;
			&:after {
				right: 0;
				height: 2px;
				width: 100%;
				left: 0;
			}
		}
	}
	&:hover {
		color: $blue;
	}
}

.nav-link-wrapper {
	margin: 0px;
}

.dropdown-menu {
	padding: 0px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 5px solid $blue; 
	border-radius: 0px;
}

.dropdown-toggle::after {
	border: none;
	margin-left: 0px;
}

.dropdown {
	//width: 170px;
	padding: 0px 0px 0px 10px;
	border-left: 5px solid transparent;
}

.dropdown.show {
	border-left: 5px solid $blue;
	.dropdown-toggle {
		color: $blue;
		//font-weight: 700;
		opacity: 1;
	}
}

.dropdown-item {
	padding: 11px 18px;
	&:hover {
		background-color: rgba(140, 140, 140, 0.2); //$grey7 at 20%
		color: $blue;
		opacity: 1;
	}
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	left: -5px;
	top: 38px;
	background-color: $white2;
	box-shadow: 2px 3px 9px rgba(0,0,0, 0.15);
	li>a {
		position: initial;
		top: initial;
		padding: 10px !important;
		&:hover {
			&:after {
				width: 0%;
			}
		}
		
	}
}

.navbar-nav.nav-right>li>a{
	margin: 0;
}

.login-wrapper {
	background: $blue;
	
	@include screen-ltmd {
		display: none;
	}
	
	.col-sm-10 {
	    height: 47px;
		display: flex;
		justify-content: flex-end;
	}
	p{
		margin: 0;
		position: relative;
		top: 5px;
		a {
			font-family: $noto-sans;
			color: $white;
			border-bottom: 1px solid white;
		}
	}
}


.navbar-brand-lg {
	@include screen-ltmd {
		display: none;
	}
}

.navbar-brand-sm {
	padding: 10px 0px;
	
	@include screen-gtsm {
		display: none;
	}
	.site-title {
		margin: 0px;
		line-height: 24px;
	}
	small {
		font-size: 70%;
	}
}

.mobile-nav-menu {
	@include screen-ltmd {
		margin-left: -16px;
	    margin-right: -16px;
	    margin-top: -2px;
	    
	    .nav-wrapper {
			background: $white3;
			z-index: 9;
			
			.navbar-nav {
				height: auto;
				padding-bottom: 10px;
				
				> li {
					border: none;
					line-height: 1.6;
					padding: 0;
					
					a {
						top: 0;
					    padding: 6px 0 !important;
					    margin: 0;
					    line-height: 1.6;
					}
					
					.dropdown-menu {
						left: 0;
						top: 0;
						background: none;
						box-shadow: none;
						display: block;
						padding: 0 0 0 15px;
						border-left: none;
					}
				}
			}
		}
	}
}

.navbar-toggler {
	@include screen-ltmd {
		border: none;
		background: none;
		width: 60px;
	    height: 60px;
	    position: relative;
	    box-shadow: none;
	    top: 5px;
		
		.navbar-toggler-icon {
			width: 30px;
			height: 3px;
			background: gray;
			margin: 4px 0;
			position: absolute;
			transition: 0.5s all;
			
			&:nth-child(1){
				transform: rotate(-45deg);
				top: 20px;
			}
			&:nth-child(2){
				opacity: 0;
			}
			&:nth-child(3){
				transform: rotate(45deg);
				top: 20px;
			}
		}
		
		&.collapsed {
			.navbar-toggler-icon {
				&:nth-child(1){
					transform: rotate(0);
					top: 10px;
				}
				&:nth-child(2){
					opacity: 1;
					top: 18px;
				}
				&:nth-child(3){
					transform: rotate(0);
					top: 26px;
				}
			}
		}
	}
}

#menu-item-1324 {
	@include screen-gtsm {
		display: none;
	}
}
