input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $grey6;
	border: none;
	border-radius: 0px;
	padding: 30px;
	font-family: $noto-sans;
	font-size: 20px;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.04);

	&:focus {
		box-shadow: 6px 6px 7px rgba(0,0,0,0.08);
	}
}

select {
	height: 90px !important;
    color: #7F7F7F;
    border: none;
    border-radius: 0px;
    padding: 30px;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.04);
    background: white;
    text-indent: 30px;
    font-style: italic;
}

.select-wrapper {
	position: relative;
	
	.nf-field-element {
		&:after {
			content: '\003e';
		    display: block;
		    position: absolute;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    height: 90px;
		    background: $blue;
		    width: 90px;
		    padding: 15px;
		    color: white;
		    text-align: center;
		    font-weight: 700;
		    font-size: 36px;
		    pointer-events: none;
	    }
	}
}

textarea {
	width: 100%;
}

::placeholder {
	color: $grey;
	font-family: $noto-sans;
	font-style: italic;
}

.form-control.header-search {
	font-size: 16px;
    padding: 7px 20px;
}